*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f7fb;
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#1f2937;
}

nav h2{
    color:#38bdf8;
    font-size:30px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:80px 8%;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:52px;
    color:#1f2937;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    line-height:1.6;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#38bdf8;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.hero-image{
    flex:1;
    text-align:center;
}

.hero-image img{
    width:90%;
    max-width:420px;
    border-radius:50%;
    border:6px solid #38bdf8;
}
.about,
.projects,
.skills,
.contact{
    padding:80px 20px;
    text-align:center;
}

.about h2,
.projects h2,
.skills h2,
.contact h2{
    color:#1f2937;
    font-size:40px;
    margin-bottom:20px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    margin-top:40px;
}

.card{
    width:280px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(56,189,248,.35);
}

.card h3{
    color:#38bdf8;
    margin-bottom:12px;
}

.contact p{
    font-size:20px;
    margin:10px 0;
}

footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:768px){

nav{
    flex-direction:column;
    gap:15px;
}

nav ul{
    flex-direction:column;
    text-align:center;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text h1{
    font-size:38px;
}

.hero-image{
    margin-top:30px;
}

.card{
    width:100%;
}

}